body {
  display: flex;
  justify-content: center;
}

.container {
  width: 380px;
  padding: 10px;
  position: relative;
  font-family: 'Poor Story', cursive;
  background-color: 0px 2px 2px rgb(176, 237, 255);
  border-radius: 10px;
}

.icon {
  position: absolute;
  top: 30px;
  right: 36px;
  cursor: pointer;
  background-color: rgba(239, 204, 255, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon i {
  font-size: 24px;
  color: #f9fdbc;
}

.camera {
  width: 380px;
  height: 380px;
  background-color: 0px 2px 2px rgb(255, 243, 176);
}

.name {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.percent {
  text-align: center;
  font-size: 14px;
}

.description {
  margin-top: 10px;
  padding: 10px;
}

.icon .invisible {
  display: none;
}
